body {
    font-family: 'Pacifico', cursive;
    margin: 0;
    padding: 0;
    background-image: url("matching2.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center 0px; 
    background-attachment: fixed;
    overflow-x: hidden; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 902px;
    height: 100vh; 
    margin: 0;
}

.dislike {
    background-image: url("dislike.png");
    background-color: white;
    background-position: -20px center ;
    background-repeat: no-repeat;
    background-size: 246px;
    width: 220px;
    height: 220px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 75px;
}

.like{
    background-image: url("like.png");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 235px;
    width: 220px;
    height: 220px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 75px;
}

.dislike:hover {
    transform: scale(1.1); 
}

.like:hover {
    transform: scale(1.1); 
}

.tempBox {
    height: 75vh;
    width: 420px;
    aspect-ratio: 210 / 297;
    border: 6px solid rgb(255, 0, 0);
    border-radius: 4px;
    position: absolute;
    left: 35%;
    top: 20%;
    /* animation: move-left 2.5s ease-in-out 0s 1 normal forwards; */
    animation-play-state: paused;
}

@keyframes move-right {
    0%{
        transform: translateX(0) rotateZ(0deg);
    }
    50%{
        transform: translateX(50vw) rotateZ(22.5deg);
    }
    100%{
        transform: translateX(100vw) rotateZ(45deg);
    }
}

@keyframes move-left {
    0%{
        transform: translateX(0) rotateZ(0deg);
    }
    50%{
        transform: translateX(-50vw) rotateZ(-22.5deg);
    }
    100%{
        transform: translateX(-100vw) rotateZ(-45deg);
    }
}
