.middle-box {
    background: linear-gradient(135deg, rgb(194, 32, 78), #373cc9); /* Corrected syntax */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 1200px;
    height: 650px;
    
    border-radius: 20px; /* curved edges */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50);
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; /* Stack top to bottom */
    

}
  
.renderMatching {
    background-color: transparent;
    position: absolute;
    width: 130px;
    height: 100px;
    left: 45.7%;
    top: 2%;
}